<script src="{{ site.baseurl }}assets/js/app.js" async></script>

{% if page.layout == 'blog' %}
    <script src="{{ site.baseurl }}assets/js/inphinity.min.js"></script>
    <script type="text/javascript">
      inphinity.on('#posts').set({
        navSelector : "p.pagination",
        nextSelector  : "p.pagination a.older",
        itemSelector  : ".container ul#posts li.post",
        finishedMsg : "<em>That's all folks!</em>",
        loadingMsg: "<img src='{{ site.baseurl }}assets/images/load-icon.gif' />"
      });
    </script>
{% endif %}
</body>
</html>
