<!doctype html>
<html lang="en">
<head>
  <title>{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.name }}</title>

  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {% if page.layout == 'post' %}
    <meta name="twitter:description" content="{{ content | strip_html | truncatewords: 100 }}" />
  {% else %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  {% endif %}

  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  <!-- Facebook -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}"/>
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}"/>
  <meta property="og:image" content="{{site.url}}/{% if page.image %}{{page.image}}{%else%}assets/images/banner.jpg{% endif %}"/>
  <meta property="og:site_name" content="Raphamorim"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="fb:admins" content="100001780434348" />

  <link rel="canonical" href="{{site.url}}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}">

  {% if page.layout == 'post' %}
    <meta name="twitter:description" content="{{ content | strip_html |
    truncatewords: 100}}" />
  {% else %}
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% endif %}

  <meta name="twitter:url" content="{{site.url}}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
  <meta name="twitter:image" content="{{site.url}}/{% if page.image %}{{page.image}}{%else%}assets/images/banner.jpg{% endif %}"/>

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" /> -->
  <link rel="icon" href="../assets/images/favicon-32x32.png" type="image/png">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../assets/css/base.css" type="text/css" />
  <!-- <link rel="stylesheet" href="../assets/css/base.min.css" type="text/css" /> -->
</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>
  <svg class="trail" viewBox="0 0 1 1">
    <path d="" />
  </svg>
