<nav>
    <div class='container'>
      <a href="{{ site.baseurl }}" class="bar-link">
        <div class="bar-logo">Rapha<span>morim</span></div>
      </a>
      <div class="bar-menu">
        <ul id='pagenav'>
          <a href="{{ site.baseurl }}blog">
            <li>Blog</li>
          </a>
          <a href="{{ site.baseurl }}about">
            <li>Sobre</li>
          </a>
          <a href="{{ site.baseurl }}projects">
            <li>Projetos</li>
          </a>
          <a href="{{ site.baseurl }}experiments">
            <li>Experimentos</li>
          </a>
          <a href="{{ site.baseurl }}talks">
            <li>Palestras</li>
          </a>
       </ul>
    </div>
    <div class="bar-menu-optional">
      <a href="#">
        <img src="{{ site.baseurl }}assets/images/icon-menu-64.png" />
      </a>
    </div>
  </div>
</nav>
    <div id="bar-mobile-menu">
      <ul>
        <a href="{{ site.baseurl }}blog">
          <li>Blog</li>
        </a>
        <a href="{{ site.baseurl }}about">
          <li>Sobre</li>
        </a>
        <a href="{{ site.baseurl }}projects">
          <li>Projetos</li>
        </a>
        <a href="{{ site.baseurl }}experiments">
          <li>Experimentos</li>
        </a>
        <a href="{{ site.baseurl }}talks">
          <li>Palestras</li>
        </a>
      </ul>
    </div>