<nav>
  <div class="container">
    <a href="/" class="bar-link">
      <div class="logo">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </a>
    <div class="bar-menu">
      <ul class="pagenav">
        <a target="_blank" href="https://github.com/raphamorim"><li>Github</li></a>
      </ul>
    </div>
    <div class="nav-toggle"><span/></div>
  </div>
  <div id="bar-mobile-menu">
    <ul class="pagenav">
      <a target="_blank" href="https://github.com/raphamorim"><li>Github</li></a>
    </ul>
  </div>
</nav>
