<nav>
  <div class="container">
    <a href="/" class="bar-link">
      <div class="bar-logo">RAPHAMORIM</div>
    </a>
    <div class="bar-menu">
      <ul class="pagenav">
        <a href="/about"><li>About</li></a>
        <a href="/articles"><li>Articles</li></a>
        <a href="/raphacast"><li>Podcast</li></a>
        <a href="/music"><li>Music</li></a>
        <a href="/talks"><li>Talks</li></a>
      </ul>
    </div>
    <div class="nav-toggle"><span/></div>
  </div>
  <div id="bar-mobile-menu">
    <ul class="pagenav">
      <a href="/about"><li>About</li></a>
      <a href="/articles"><li>Articles</li></a>
      <a href="/raphacast"><li>Podcast</li></a>
      <a href="/music"><li>Music</li></a>
      <a href="/talks"><li>Talks</li></a>
    </ul>
  </div>
</nav>
