/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1em;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
}

div:after,
ul:after,
li:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

hr {
  display: none;
}

p {
  line-height: 1.5em;
}

b, strong {
  font-weight: bold;
}

body {
  font-family: "Palatino","Georgia","Times New Roman",serif;
  font-size: 16px;
  background: #FFF;
  color: #666;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

nav {
  visibility: hidden;
}

h3 {
  margin: 40px 20px -15px 20px;
  font-size: 20px;
}

.main {
  position: relative;
  width: 100%;
  margin-top: -20px;
  padding-top: 30px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 860px;
  z-index: 1;
}

.logo {
  width: 70px;
  position: absolute;
  margin-top: 20px;
}

.section {
  font-size: 18px;
  margin: 1em 0;
  display: flex;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sections .date {
  width: 70px;
  text-align: right;
  margin-right: 16px;
  font-size: 16px;
  line-height: 1.4em;
}

.sections .experience {
  width: 80px;
  text-align: left;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.4em;
}

.section .title {
  line-height: 1.4em;
  width: 80%;
}

.section .project {
  width: 90px;
  text-align: center;
  font-size: 18px;
  text-align: left;
}

.section .project-info {
  padding: 0 20px;
  width: 85%;
  font-size: 16px;
  line-height: 1.8em;
}

.dot {
  height: 18px;
  width: 18px;
  background-color: #2a33d4;
  border-radius: 50%;
  display: inline-block;
}

#posts {
  position: relative;
  width: 100%;
  margin: 40px 0;
}

.post {
  position: relative;
  width: 100%;
}

.container-topic {
  text-align: left;
  margin: 90px 0 30px;
  font-size: 32px;
}

@media only screen and (max-width:980px) {
  nav .container, .main .container {
    width: 90%;
  }
  .main {
    margin-top: -50px;
  }
  .post p {
    font-size: 16px;
    margin-top: 16px;
  }
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 144px;
  z-index: 2;
  visibility: visible;
}

nav .container {
  padding-top: 35px;
}

#bar-mobile-menu {
  position: absolute;
  z-index: 0;
  width: 100%;
  background: #FFF;
  padding: 120px 0 5px 0;
  opacity: 0;
  height: 0;
  margin-top: -80px;
  /*z-index: 4;*/
  overflow: hidden;
  border-bottom: 2px dashed #a5a5a5;
  box-shadow:0 60px 100px 2px rgba(0,0,0,0.4);
}

.container.space {
  margin-top: 50px;
  margin-bottom: 80px;
}
.bar-menu {
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  text-align: right;
  float: right;
  visibility: visible;
  display: flex;
}
.bar-menu ul {
  margin-top: 18px;
}
.bar-menu ul a li {
  float: left;
  text-transform: uppercase;
  color: #000;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
}
.bar-menu ul a.active li {
  color: rgb(12, 80, 255);
}
.bar-menu ul a:hover li {
  color: rgb(12, 80, 255);
}

/* Nav Toogle */
.nav-toggle {
  float: right;
  padding: 30px 45px 13px 0;
  display: none;
}
.nav-toggle>span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 40px;
  background: #666;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* End of Nav-Toggle */
.container-dialog {
  padding: 20px 0;
}
.container-dialog h1 {
  font-size: 70px;
  color: #2a33d4;
  padding-bottom: 10px;
}
.container-dialog h2 {
  font-size: 24px;
  color: #2a33d4;
  margin: 28px 0 24px 0;
}
.container-dialog p {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 20px;
}
.container-dialog strong {
  padding: 0 1px;
  color: rgba(0, 0, 0, 0.5);
}
.container-image img {
  height: 500px;
}

/* Posts */
.post ul {
  margin-bottom: 15px;
}
.post ul li {
  margin-top: 20px;
  margin-bottom: 5px;
}
.post-title {
  font-weight: 300;
  text-decoration: underline;
  font-size: 24px;
  text-align: left;
  margin-top: 10px;
  color: #333;
  padding: 5px 0 15px;
}
.post-page-title {
  font-size: 30px;
  line-height: 1.2em;
}
.post-date {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
}
.post h3 {
  margin: 30px 20px -15px 20px;
  font-size: 20px;
}
.post img {
  position: relative;
  max-width: 100%;
  min-width: 95%;
  max-height: 600px;
}
.post-image {
  padding: 15px 0;
}
.post p {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 14px;
  color:#000;
}
.post a {
  cursor: pointer;
}
.post-page-content a, .container-dialog a, #talks a {
  cursor: pointer;
  color: #000;
  border-bottom: 1px solid rgb(12, 80, 255);
  text-decoration: none;
}
.post-page-content img {
  max-height: 600px;
  padding: 10px 0;
}
.post-page-content h2 {
  margin: 40px 0;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
.post-page-content h3 {
  margin: 20px 0 18px 0;
  text-decoration: underline;
  color: #333;
}
#infscr-loading {
  text-align: center;
  padding-bottom: 35px;
}

/* Mobile and Tablets */
#bar-mobile-menu {
  position: absolute;
  z-index: 0;
  width: 100%;
  background: #FFF;
  padding: 120px 0 5px 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 2px dashed #a5a5a5;
}
#bar-mobile-menu li {
  padding: 15px 15px 15px 25px;
  font-size: 23px;
  margin: 5px 0;
  transition: all 600ms ease;
}
#bar-mobile-menu li:hover {
  background: #d1d6d9;
}
#bar-mobile-menu a {
  color: #666;
}
#bar-mobile-menu a.active {
  font-weight: bold;
}
::selection {
  background-color: black;
  color: #FFF;
}

/* Code */
code {
  display: block;
  padding: 5px;
}
.code {
  margin: 20px 0;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 17px;
  color: #666666;
  -webkit-font-smoothing: inherit;
  overflow: auto;
  background: #f8f8f8;
}

/* Btn */
.btn {
  padding: 15px 30px;
  border-radius: 2px;
  cursor: pointer;
  border-bottom: 4px solid rgba(0, 0, 0, .5);
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(0, 0, 0, .5);
  text-decoration: none;
  transition: background-color .2s ease;
}
.btn.red {
  background-color: #E5473C;
}
.btn.blue {
  background-color: #48A7E9;
}
.btn.red:hover {
  background-color: #e23226;
}
.btn.blue:hover {
  background-color: #1b91e3;
}

/* Medias */
@media only screen and (max-width:980px) {
  .bar-menu {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .post h2 {
    font-size: 21px;
  }
  .github-corner {
    display: none;
  }
}
@media only screen and (max-width:600px) {
  .main {
    margin-top: -50px;
  }
  .post p, .container-dialog p {
    font-size: 20px;
  }
  .dialog p {
    line-height: 1.5em;
    clear: both;
    margin: 0;
    display: inline;
    text-align: center;
  }
  .dialog strong {
    padding: 0;
    margin: 0;
  }
  .dialog .btn {
    padding: 10px;
  }
  .post {
    margin: 0 0 30px 0;
  }
  #posts .post-date {
    display: none;
  }
}

/* Mouse trail effect */
svg.trail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

svg.trail path {
  fill: none;
  stroke: #2a33d4;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
