/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1em;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
}

div:after,
ul:after,
li:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

hr {
  display: none;
}

p {
  line-height: 1.5em;
}

b, strong {
  font-weight: bold;
}

body {
  font-family: "Palatino","Georgia","Times New Roman",serif;
  font-size: 16px;
  background: #FFF;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  transition: background-color .25s cubic-bezier(.4,0,.2,1),color .25s cubic-bezier(.4,0,.2,1);
}

nav {
  visibility: hidden;
}

h3 {
  margin: 40px 20px -15px 20px;
  font-size: 20px;
}

.main {
  position: relative;
  width: 100%;
  padding-top: 30px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 860px;
  z-index: 1;
  padding: 20px 0;
}

.logo {
  width: 70px;
  position: absolute;
  margin-top: 20px;
}

.section {
  font-size: 18px;
  margin: 1em 0;
  display: flex;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sections .date {
  width: 70px;
  text-align: right;
  margin-right: 16px;
  font-size: 16px;
  line-height: 1.4em;
}

.sections .experience {
  width: 80px;
  text-align: left;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.4em;
}

.section .title {
  line-height: 1.4em;
  width: 80%;
}

.section .project {
  width: 90px;
  text-align: center;
  font-size: 18px;
  text-align: left;
}

.section .project-info {
  padding: 0 20px;
  width: 85%;
  font-size: 16px;
  line-height: 1.8em;
}

.dot {
  height: 28px;
  width: 28px;
  background-color: #2a33d4;
  display: inline-block;
}

@media only screen and (max-width:980px) {
  nav .container, .main .container {
    width: 90%;
  }
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  visibility: visible;
}

nav .container {
  padding-top: 35px;
}

h1 {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 70px;
  color: #2a33d4;
  padding-bottom: 10px;
}
h2 {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 28px;
  color: #2a33d4;
  margin: 28px 0 24px 0;
}
p {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 20px;
}
strong {
  padding: 0 1px;
  color: rgba(0, 0, 0, 0.5);
}
.container-image img {
  height: 500px;
}
.post-date {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
}
.post-image {
  width: 100%;
  padding: 15px 0;
}
a {
  cursor: pointer;
  color: #000;
  border-bottom: 2px solid rgb(12, 80, 255);
  text-decoration: none;
}
.post-page-content img {
  max-height: 600px;
  padding: 10px 0;
}
.post-page-content h2 {
  margin: 40px 0;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
.post-page-content h3 {
  margin: 20px 0 18px 0;
  text-decoration: underline;
  color: #333;
}
#infscr-loading {
  text-align: center;
  padding-bottom: 35px;
}

/* Mobile and Tablets */
#bar-mobile-menu {
  position: absolute;
  z-index: 0;
  width: 100%;
  background: #FFF;
  padding: 120px 0 5px 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 2px dashed #a5a5a5;
}
#bar-mobile-menu li {
  padding: 15px 15px 15px 25px;
  font-size: 23px;
  margin: 5px 0;
  transition: all 600ms ease;
}
#bar-mobile-menu li:hover {
  background: #d1d6d9;
}
#bar-mobile-menu a {
  color: #666;
}
#bar-mobile-menu a.active {
  font-weight: bold;
}
::selection {
  background-color: black;
  color: #FFF;
}

/* Code */
code {
  display: block;
  padding: 5px;
}
.code {
  margin: 20px 0;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 17px;
  color: #666666;
  -webkit-font-smoothing: inherit;
  overflow: auto;
  background: #f8f8f8;
}

/* Btn */
.btn {
  padding: 15px 30px;
  border-radius: 2px;
  cursor: pointer;
  border-bottom: 4px solid rgba(0, 0, 0, .5);
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(0, 0, 0, .5);
  text-decoration: none;
  transition: background-color .2s ease;
}
.btn.red {
  background-color: #E5473C;
}
.btn.blue {
  background-color: #48A7E9;
}
.btn.red:hover {
  background-color: #e23226;
}
.btn.blue:hover {
  background-color: #1b91e3;
}

/* Medias */
@media only screen and (max-width:980px) {
  .github-corner {
    display: none;
  }
}
@media only screen and (max-width:600px) {
  p {
    font-size: 20px;
  }
  .dialog p {
    line-height: 1.5em;
    clear: both;
    margin: 0;
    display: inline;
    text-align: center;
  }
  .dialog strong {
    padding: 0;
    margin: 0;
  }
  .dialog .btn {
    padding: 10px;
  }
  #posts .post-date {
    display: none;
  }
}

/* Mouse trail effect */
svg.trail {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}

svg.trail path {
  fill: none;
  stroke: #2a33d4;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
