/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1em;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  /*-moz-osx-font-smoothing: grayscale;*/
}

div:after,
ul:after,
li:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

hr {
  display: none;
}

p {
  line-height: 1.5em;
}

b, strong {
  font-weight: bold;
}

@font-face {
  font-family: 'ShipporiMincho';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ShipporiMincho/ShipporiMincho-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'ShipporiMincho';
  font-style: bold;
  font-weight: 600;
  src: url('../fonts/ShipporiMincho/ShipporiMincho-bOLD.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  font: normal normal 20px/1.2em Helvetica, arial;
  font-family: "ShipporiMincho","Palatino","Georgia","Times New Roman",serif;
  font-size: 16px;
  background: #FFF;
  color: #666;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

nav {
  visibility: hidden;
}

h3 {
  margin: 40px 20px -15px 20px;
  font-size: 20px;
}

.main {
  position: relative;
  width: 100%;
  margin-top: -20px;
  padding-top: 30px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 860px;
  z-index: 1;
}

.logo {
  width: 70px;
  position: absolute;
  margin-top: 20px;
}

.me {
  background: #0F0D0E;
}

.me .presentation {
  display: flex;
}

.me .info {
  padding: 60px 20px;
  width: 400px;
}

.me .info {
  color: #FFF;
}

.me .info a {
  color: #FFF;
  border-bottom: 2px dotted #333;
  text-decoration: none;
  cursor: pointer;
}

.me .info h1 {
  font-size: 34px;
  color: #FFF;
}

.me .info h1::after {
  content: "";
  background-color: #383134;
  height: 10px;
  position: absolute;
  top: 82px;
  transform: translateY(-50%);
  left: 0;
  width: 340px;
  z-index: -1;
}

.me .info .info-details {
  margin-top: 40px;
}

.me .image {
  margin: 10px;  
  width: 280px;
}

.section {
  font-size: 18px;
  margin: 1em 0;
  display: flex;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.sections .date {
  width: 70px;
  text-align: right;
  margin-right: 16px;
  font-size: 16px;
  line-height: 1.4em;
}

.section .title {
  line-height: 1.4em;
  width: 80%;
}

.section .project {
  width: 90px;
  text-align: center;
  font-size: 18px;
  text-align: left;
}

.section .project-info {
  padding: 0 20px;
  width: 100%;
  font-size: 16px;
  line-height: 1.8em;
}

.me .image img {
  width: 100%;
  height: 100%;
}
.dot {
  height: 18px;
  width: 18px;
  background-color: rgba(0,0,0,.8);
  border-radius: 50%;
  display: inline-block;
}

#posts {
  position: relative;
  width: 100%;
  margin: 40px 0;
}

.post {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.container-topic {
  color: rgba(0, 0, 0, .3);
  text-align: left;
  margin: 90px 0 30px;
  font-size: 40px;
}

@media only screen and (max-width:980px) {
  nav .container, .main .container {
    width: 90%;
  }
  .main {
    margin-top: -50px;
  }
  .post p {
    font-size: 16px;
    margin-top: 16px;
  }
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 144px;
  z-index: 2;
  visibility: visible;
}

nav .container {
  padding-top: 35px;
}

#bar-mobile-menu {
  position: absolute;
  z-index: 0;
  width: 100%;
  background: #FFF;
  padding: 120px 0 5px 0;
  opacity: 0;
  height: 0;
  margin-top: -80px;
  /*z-index: 4;*/
  overflow: hidden;
  border-bottom: 2px dashed #a5a5a5;
  box-shadow:0 60px 100px 2px rgba(0,0,0,0.4);
}

.container.space {
  margin-top: 50px;
  margin-bottom: 80px;
}
.bar-menu {
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  text-align: right;
  float: right;
  visibility: visible;
  display: flex;
}
.bar-menu ul {
  margin-top: 18px;
}
.bar-menu ul a li {
  float: left;
  text-transform: uppercase;
  color: #9b9999;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
}
.bar-menu ul a.active li {
  color: rgba(0, 0, 0, .8);
}
.bar-menu ul a:hover li {
  color: rgba(0, 0, 0, .8);
}

/* Nav Toogle */
.nav-toggle {
  float: right;
  padding: 30px 45px 13px 0;
  display: none;
}
.nav-toggle>span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 40px;
  background: #666;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* End of Nav-Toggle */
.container-dialog {
  padding: 20px 0;
}
.container-dialog h1 {
  font-size: 70px;
  padding-bottom: 10px;
}
.container-dialog h2 {
  font-size: 24px;
  margin: 28px 0 24px 0;
}
.container-dialog p {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 20px;
}
.container-dialog strong {
  padding: 0 1px;
  color: rgba(0, 0, 0, 0.5);
}
.container-image img {
  height: 500px;
}

/* Posts */
.post ul {
  margin-bottom: 15px;
}
.post ul li {
  margin-top: 20px;
  margin-bottom: 5px;
}
.post-title {
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.498039);
  font-family: Helvetica;
  padding: 5px 0 15px;
}
.post-page-title {
  font-size: 40px;
  line-height: 1.2em;
}
.post-date {
  color: rgb(153, 153, 153);
  text-align: center;
  font-size: 14px;
  float: right;
  text-transform: uppercase;
  margin-top: -33px;
}
.post h3 {
  margin: 30px 20px -15px 20px;
  font-size: 20px;
}
.post img {
  position: relative;
  max-width: 100%;
  min-width: 95%;
  max-height: 450px;
  min-height: 200px;
}
.post-image {
  padding: 15px 0;
}
.post p {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 22px;
  line-height: 1.3em;
  margin-top: 14px;
}
.post a {
  cursor: pointer;
}
.post-page-content a, .container-dialog a, #talks a {
  cursor: pointer;
  color: #000;
  border-bottom: 2px dotted #333;
  text-decoration: none;
}
.post-page-content img {
  max-height: 600px;
  padding: 10px 0;
}
.post-page-content h2 {
  margin: 40px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
  text-transform: uppercase;
}
.post-page-content h3 {
  margin: 20px 0 18px 0;
}
.post-comments {
  padding: 25px;
}
#infscr-loading {
  text-align: center;
  padding-bottom: 35px;
}

/* Talks */
#talks h3 {
  margin: 10px 0 15px 0;
  font-size: 23px;
  color: rgba(0, 0, 0, .4);
}
#talks h3 a {
  color: rgba(0, 0, 0, .6);
}
#talks p {
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 5px;
  color: #555;
  overflow: hidden;
}
#talks li {
  padding: 15px 4px;
}

/* Mobile and Tablets */
#bar-mobile-menu {
  position: absolute;
  z-index: 0;
  width: 100%;
  background: #FFF;
  padding: 120px 0 5px 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 2px dashed #a5a5a5;
}
#bar-mobile-menu li {
  padding: 15px 15px 15px 25px;
  font-size: 23px;
  margin: 5px 0;
  transition: all 600ms ease;
}
#bar-mobile-menu li:hover {
  background: #d1d6d9;
}
#bar-mobile-menu a {
  color: #666;
}
#bar-mobile-menu a.active {
  font-weight: bold;
}
::selection {
  background-color: black;
  color: #FFF;
}

/* Code */
code {
  display: block;
  padding: 5px;
}
.code {
  margin: 20px 0;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 17px;
  color: #666666;
  -webkit-font-smoothing: inherit;
  overflow: auto;
  background: #f8f8f8;
}

/* Btn */
.btn {
  padding: 15px 30px;
  border-radius: 2px;
  cursor: pointer;
  border-bottom: 4px solid rgba(0, 0, 0, .5);
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(0, 0, 0, .5);
  text-decoration: none;
  transition: background-color .2s ease;
}
.btn.red {
  background-color: #E5473C;
}
.btn.blue {
  background-color: #48A7E9;
}
.btn.red:hover {
  background-color: #e23226;
}
.btn.blue:hover {
  background-color: #1b91e3;
}

/* Medias */
@media only screen and (max-width:980px) {
  .bar-menu {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .post h2 {
    font-size: 21px;
  }
  .github-corner {
    display: none;
  }
}
@media only screen and (max-width:600px) {
  .main {
    margin-top: -50px;
  }
  .post p, .container-dialog p {
    font-size: 20px;
  }
  .me .container {
    margin: none;
    width: auto;
  }
  .me .presentation {
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
  }
  .me .info h1::after {
    width: 100%;
  }
  .section .project {
    width: 50px;
  }
  .me .info {
    text-align: center;
    width: 330px;
  }
  .dialog p {
    line-height: 1.5em;
    clear: both;
    margin: 0;
    display: inline;
    text-align: center;
  }
  .dialog strong {
    padding: 0;
    margin: 0;
  }
  .dialog .btn {
    padding: 10px;
  }
  .post {
    margin: 0 0 30px 0;
  }
  #posts .post-date {
    display: none;
  }
}

/*@media (prefers-color-scheme: dark) {
  body, #bar-mobile-menu {
    background: #1C1E21;
    color: #FFF;
  }

  .container-topic, #talks h3, #talks h3 a {
    color: dimgrey;
  }

  .post {
    border-bottom: 1px solid transparent;
  }

  .post-title, #talks p,
  .post-page-content h2,
  #bar-mobile-menu a {
    color: #FFF;
  }

  .bar-logo {
    color: ghostwhite;
    border-color: dimgrey;
  }

  .post-page-content a,
  .container-dialog a,
  #talks a,
  .container-dialog strong,
  .bar-menu ul a.active li,
  .bar-menu ul a:hover li {
    color: aqua;
  }

  .nav-toggle>span, .nav-toggle span:before, .nav-toggle span:after {
    background: white;
  }
}*/

.podcast-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.podcast-container a { border: none; }
.podcast-logo{
  border-radius: 10px;
}

#firefox-Runner { 
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  padding: 5%;
} 
#offline-resources{
  display: none;
}
#main-message {
  margin-top: 8em;
}
.runner-container {
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  height: 150px;
  width: 44px;
}
.controller {
  background: rgba(247,247,247, .1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 640px), (max-height: 640px) {
  h1 {
    margin: 0 0 15px;
  }
  #main-message {
    margin-top: 10em;
  }
}

@media (max-height: 736px) and (max-width: 420px) and (orientation: portrait), (max-height: 420px) and (max-width: 736px) and (orientation: landscape) {
  h1 {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  #main-message > p {
    display: inline;
  }
  #main-message {
    margin-top: 12em;
  }
}

@media (max-height: 736px) and (max-width: 420px) and (orientation: portrait), (max-height: 420px) and (max-width: 736px) and (orientation: landscape) {
  #main-message > p {
    font-size: .95em;
    line-height: 1.61em;
    margin-top: 8px;
  }
}

@media print {
 /* .me {
    display: none;
  }*/
}