nav .container {
  padding-top: 35px;
}

h3 {
  margin: 40px 20px -15px 20px;
  font-size: 20px;
}

.container-topic {
  color: rgba(0,0,0,.1);
  text-align: left;
  margin: 90px 0 30px;
  font-size: 40px;
  padding: 0 20px;
}

.container.space {
  margin-top: 50px;
  margin-bottom: 80px;
}

.bar-menu ul {
    margin-top: 18px;
    min-width: 300px;
}

.bar-menu ul a li {
    float: left;
    text-transform: uppercase;
    color: #c1c0c0;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
}

.bar-menu ul a.active li {
  color: rgba(0,0,0,.8);
}

.bar-menu ul a:hover li {
  color: rgba(0,0,0,.8);
}

/* Nav Toogle */
.nav-toggle {
  float: right;
  padding: 30px 45px 13px 0px;
  display: none;
}
.nav-toggle>span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 40px;
  background: #666;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/* End of Nav-Toggle */


.container-dialog {
  margin-top: 20px;
  padding: 25px 5px 5px 5px;
}

.container-dialog h1 {
  font-size: 70px;
  padding-bottom: 10px;
}

.container-dialog h2 {
  font-size: 40px;
  padding-bottom: 10px;
}

.container-dialog p {
  font-weight: lighter;
  font-style: normal;
  letter-spacing: -0.004em;
  font-size: 22px;
  line-height: 1.5em;
  margin-top: 25px;
}

.container-dialog strong {
  padding: 0 1px;
  color: rgba(0,0,0,0.5);
}

.container-image img {
  height: 500px;
}

/* Posts */
#posts {
    position: relative;
    width: 100%;
    margin: 40px auto 0px;
}

.post {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0980392);
}

.post-title {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.498039);
    font-family: Helvetica;
    padding: 5px 0px 15px;
}

.post-page-title {
    font-size: 40px;
}

.post-date {
    color: rgb(153, 153, 153);
    text-align: center;
    font-size: 14px;
    float: right;
    text-transform: uppercase;
    margin-top: -33px;
}

.post h3 {
  margin: 30px 20px -15px 20px;
  font-size: 20px;
}

.post img {
    position: relative;
    max-width: 100%;
    min-width: 95%;
    max-height: 450px;
    min-height: 200px;
}

.post-image {
  padding: 15px 0;
}

.post p {
    font-weight: lighter;
    font-style: normal;
    letter-spacing: -0.004em;
    font-size: 22px;
    line-height: 1.5em;
    margin-top: 25px;
}

.post a {
  cursor: pointer;
}

.post-page-content a {
    cursor: pointer;
    color: #333;
    border-bottom: 1px dotted #666;
    text-decoration: none;
}

.post-page-content img {
    max-height: 600px;
    padding: 10px 0;
}

.post-page-content h2 {
  margin: 40px 0px;
  color: rgba(0,0,0,0.5);
  font-size: 25px;
  text-transform: uppercase;
}

.post-page-content h3 {
  margin: 20px 0px 18px 0px;
}

.post-comments {
  padding: 25px;
}

#infscr-loading {
  text-align: center;
  padding-bottom: 35px;
}

/* Talks */

#talks h3 { margin: 10px 0px 15px 0px; font-size: 23px; color: rgba(0,0,0,.4); }
#talks h3 a { color: rgba(0,0,0,.6); }
#talks p { font-size: 16px; line-height: 1.5em; margin-top: 5px; color: #555;}
#talks a { color: #666; font-weight: bold; }
#talks li {
  background: #FFFFFF;
  padding: 15px 4px;
}

::selection {
  background-color: #41494f;
  color: #fff;
}

/* Mobile and Tablets */
#bar-mobile-menu {
  position: absolute;
  z-index: 0;
  width: 100%;
  background: #FFF;
  padding: 120px 0px 5px 0px;
  opacity: 0;
  height: 0px;
  margin-top: -30px;
  overflow: hidden;
  border-bottom: 2px dashed #a5a5a5;
  box-shadow: 0px 6px 6px rgba(0,0,0,.2);
}

#bar-mobile-menu li {
  padding: 15px 15px 15px 25px;
  font-size: 23px;
  margin: 5px 0px;
  transition: all 600ms ease;
}

#bar-mobile-menu li:hover {
  background: #d1d6d9;
}

#bar-mobile-menu a {
  color: #666;
}

#bar-mobile-menu a.active {
  font-weight: bold;
}

::selection {
  background-color: #F27B73;
  color: #fff;
}

/* Code */

code {
  display: block;
  padding: 5px;
}

.code {
  margin: 20px 0px;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 17px;
  color: #666666;
  -webkit-font-smoothing: inherit;
  overflow: auto;
  background: #f8f8f8;
}

/* Btn */

.btn {
  padding: 15px 30px;
  border-radius: 2px;
  cursor: pointer;
  border-bottom: 4px solid rgba(0,0,0,.5);
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(0,0,0,.5);
  text-decoration: none;
  transition: background-color .2s ease;
}

.btn.red  { background-color: #E5473C; }
.btn.blue { background-color: #48A7E9; }

.btn.red:hover  { background-color: #e23226; }
.btn.blue:hover { background-color: #1b91e3; }

/* Medias */
@media only screen and (max-width: 980px) {
  nav .container, .main .container {
    width: 95%;
  }

  .bar-menu { display: none; }
  .nav-toggle { display: block; }
  .post h2 { font-size: 25px; }
}

@media only screen and (max-width: 600px) {
  .main { margin-top: -50px; }
  .dialog p { line-height: 1.5em; clear: both; margin: 0px; display: inline; text-align: center; }
  .dialog strong { padding: 0px; margin: 0px; }
  .dialog .btn { padding: 10px; }
  .post { margin: 0px 0px 30px 0px; }
  #posts .post-date { display: none; }
}
