/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1em;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div:after,
ul:after,
li:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

hr {
  display: none;
}

p {
  line-height: 1.5em;
}

b, strong {
  font-weight: bold;
}

body {
  font: normal normal 20px/1.2em Helvetica, arial;
  background: #FFF;
  color: #777;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

nav {
  visibility: hidden;
}

h3 {
  margin: 40px 20px -15px 20px;
  font-size: 20px;
}

.main {
  position: relative;
  width: 100%;
  margin-top: -20px;
  padding-top: 30px;
}

.container {
  position: relative;
  margin: 0px auto;
  width: 920px;
  z-index: 1;
}

.bar-logo {
  position: absolute;
  font-size: 24px;
  letter-spacing: 7px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  word-wrap: break-word;
  width: 110px;
  height: 110px;
  margin-left: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  padding: 5px 0px 0px 8px;
}

#posts {
  position: relative;
  width: 100%;
  margin: 40px auto 5em;
}

.post {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.container-topic {
  color: rgba(0, 0, 0, .1);
  text-align: left;
  margin: 90px 0 30px;
  font-size: 40px;
  padding: 0 20px;
}

@media only screen and (max-width:980px) {
  nav .container, .main .container {
    width: 95%;
  }
  .main {
    margin-top: -50px;
  }
  .post p {
    font-size: 17px;
    margin-top: 16px;
  }
}
