{% include header.html %}

    <div class="welcome">Loading assets...</div>
    <section class="intro">
        <img src="../assets/images/bg.png" class="section-bg">
        <div class="present">Raphael Amorim</div>
        <div class="content">
            <img src="../assets/images/avatar.png" alt="" height="250" class="avatar">
            <div class="main">
                <p>Full-Stack developer, illustrator, github addicted and crazy fella. </p>
                <p>Yes! i do beautiful and amazing things on the web!</p>
            </div>
        </div>
    </section>

{% include footer.html %}
