{% include header.html %}

    <div class="nav">
        <ul class="social">
            <li><a href="/">Blog</a></li>
            <li><a href="http://github.com/raphamorim">GitHub</a></li>
            <li><a href="http://twitter.com/oitoqueijos">Twitter</a></li>
        </div>
    </div>

    <div class="welcome">Loading assets...</div>
    <section class="intro">
        <img src="../assets/images/bg.png" class="section-bg">
        <div class="present">Raphael Amorim</div>
        <div class="content">
            <img src="../assets/images/avatar.png" alt="" height="250" class="avatar">
            <div class="main">
                <p>Full-Stack developer, illustrator, git addicted and crazy fella. </p>
                <p>Yes! I do beautiful and amazing things on the web!</p>
            </div>
        </div>
    </section>

{% include footer.html %}
