{% include header.html %}

  {% include nav.html %}

	<div class='main'>
		<div class="container">
			<ul id="posts">
      		{% for post in paginator.posts %}
      			{% unless post.draft %}
        			<li class="post">
                <div class="post-author">
                    {% if post.author && post.author.length %}
                        <a href="//twitter.com/@{{ post.author[1] }}" target="_blank">
                            <img class="post-author--image" src="/assets/images/author/{{ post.author[1] }}.jpg"/>
                            <div class="post-author--info">
                                <h4 class="post-author--name">{{ post.author[0] }}</h4>
                    {% else %}
                        <a href="//twitter.com/@raphamundi" target="_blank">
                            <img class="post-author--image" src="/assets/images/author/raphamundi.jpg"/>
                            <div class="post-author--info">
                                <h4 class="post-author--name">Raphael Amorim</h4>
                    {% endif %}
                    </a><p class="post-author--date">{{ post.date | date:"%d %B • %Y" }}</p>
                </div>
                </div>
              <img class="post-title-image" src="/{{ post.image }}">
              <a class="post-title-link" href="{{ post.url }}">
              <h2 class="post-title">{{ post.title }}</h2>
				{% if post.excerpt %}
        			{{ post.excerpt | markdownify }}
                    </a>
        			<a class="post-read-more" href="{{ post.url }}" >Read more...</a>
        		{% else %}
                    </a>
        			{{ post.content }}
        		{% endif %}
            </li>
		  			{% endunless %}
      		{% endfor %}

     <p class="pagination">
     {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a class="newer" href="/blog">Previous</a>
        {% else %}
          <a class="newer" href="/blog/page{{paginator.previous_page}}">Previous</a>
        {% endif %}
     {% else %}
        <span class="newer">Previous</span>
     {% endif %}

     <span>Page <strong>{{paginator.page}}</strong> / <strong>{{paginator.total_pages}}</strong></span>
     {% if paginator.next_page %}
       <a class="older" href="/blog/page{{paginator.next_page}}">Next</a>
     {% else %}
       <span class="older">Next</span>
     {% endif %}
     </p>

{% include footer.html %}
