{% include header.html %}
{% include nav.html %}

<div class='main'>
  <div class="container">
    <h2 class="container-topic">Recent Articles</h2>
    <ul id="posts">
      {% assign posts = paginator.posts | where:"language", "en" %}
      {% for post in posts %}
        {% unless post.draft %}
          <li class="post">
            <a class="post-title-link" href="{{ post.url }}">
              <h2 class="post-title">{{ post.title }}</h2>
            </a>
            <span class="post-date">{{ post.date | date:"%b %d, %Y" }}</span>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>

{% include footer.html %}
