{% include header.html %}
{% include nav.html %}

<div class='main'>
  <div class="container-dialog container space podcast-container">
      <h2>RaphaCast</h2>
      <p style='text-align: center;'>Each episode is a different interview that explores software engineering, expat life, work culture, mental health and other things. Contains episodes in english and portuguese.</p><br/>
  	  <img src='logo.png' class='podcast-logo' height='250' width='250'>
      <p>
        <a href="https://open.spotify.com/show/36pjRwDhaQ3FeDRs5oVCkz"><img src='/assets/images/spotify-podcast.svg' height='50' alt='Spotify Podcast Link' /></a>
        <a href="https://open.spotify.com/show/36pjRwDhaQ3FeDRs5oVCkz"><img src='/assets/images/itunes-podcast.svg' height='50' alt='Itunes Podcast Link' /></a>
      </p>
      <p><a href="https://raphamorim.io/raphacast/feed.xml">Click here to open the podcast feed</a></p>
  </div>
</div>

{% include footer.html %}
