{% include header.html %}

  {% include nav.html %}

  <div class='main'>
    <div class="container">
        <ul id="posts">
            <li class="post post-page">
                <h2 class="post-title post-page-title">{{ page.title }}</h2>
                <span class="post-date">{{ page.date | date:"%d %b • %Y" }}</span>
                <span class="post-break"></span>

                {% if page.image %}
                    <img class="post-image" src="/{{ page.image }}">
                {% endif %}

                <div class="post-page-content">
                    {{ content }}
                </div>
                <div class="post-comments">
                    {% include disqus.html %}
                </div>
            </li>
        </ul>
    </div> <!-- /content -->
  </div> <!-- /container -->

{% include footer.html %}
