{% include header.html %}

  {% include nav.html %}

  <div class='main'>

    <div class="container">
        <ul id="posts">
            <li class="post post-page">
                <div class="post-author">
                    {% if post.author && post.author.length %}
                        <a href="//twitter.com/@{{ post.author[1] }}" target="_blank">
                            <img class="post-author--image" src="/assets/images/author/{{ post.author[1] }}.jpg"/>
                            <div class="post-author--info">
                                <h4 class="post-author--name">{{ post.author[0] }}</h4>
                    {% else %}
                        <a href="//twitter.com/@raphamundi" target="_blank">
                            <img class="post-author--image" src="/assets/images/author/raphamorim.jpg"/>
                            <div class="post-author--info">
                                <h4 class="post-author--name">Raphael Amorim</h4>
                    {% endif %}
                    </a><p class="post-author--date">{{ page.date | date:"%d %B • %Y" }}</p>
                </div>
                </div>
                <img class="post-title-image" src="/{{ page.image }}">
                <a class="post-title-link" href="{{ post.url }}">
                <h2 class="post-title">{{ page.title }}</h2>
                <div>
                    {{ content }}
                </div>
                <div class="post-comments">
                    {% include disqus.html %}
                </div>
            </li>
        </ul>

    </div> <!-- /content -->
  </div> <!-- /container -->

{% include footer.html %}
